# Dépendances
node_modules/

# Fichiers téléchargés (on ne veut pas uploader les rapports de test)
uploads/exams/*
uploads/works/*
!uploads/exams/.gitkeep
!uploads/works/.gitkeep

# Base de données locale
*.db
*.db-journal

# Environnement
.env

# Logs
logs/
*.log